{% extends 'base.html' %}
{% load static %}
{% block content %}

    <form method="post" action="{% url 'users:register' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="{{ register_form.user_name.id_for_label }}" class="form-label">{{ register_form.user_name.label }}</label>
            {{ register_form.user_name }}
            {% for error in register_form.user_name.errors %}
                <p style="color: red;">{{ error }}</p>
            {% endfor %}          
        </div>
        <div class="mb-3">
            <label for="{{ register_form.email.id_for_label }} class="form-label"">{{ register_form.email.label }}</label>
            {{ register_form.email }}
            {% for error in register_form.email.errors %}
                <p style="color: red;">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="mb-3">
            <label for="{{ register_form.password.id_for_label }} class="form-label"">{{ register_form.password.label }}</label>
            {{ register_form.password }}
            {% for error in register_form.password.errors %}
                <p style="color: red;">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="mb-3">
            <label for="{{ register_form.re_password.id_for_label }} class="form-label"">{{ register_form.re_password.label }}</label>
            {{ register_form.re_password }}
            {% for error in register_form.re_password.errors %}
                <p style="color: red;">{{ error }}</p>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary">ثبت نام</button>
      </form>
      
{% endblock content %}
